﻿@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12" style="height:20px;"> </div>      
            <div class="col-md-2 col-md-offset-10" style="font-size:14px;">
                <a id="api_register" href="@Url.Action("index", "ApiAccount")">注册</a>
                <a id="api_login" href="@Url.Action("login", "ApiAccount")">登录</a>
                <span id="api_username" style="display:none;"></span>
                <a id="api_logout" style="display:none;" href="@Url.Action("logout", "ApiAccount")">退出</a>
            </div>
            <div class="col-md-12 column">
                <div style="margin-top:200px;">
                    <div class="col-md-3 col-md-offset-2">
                        <blockquote>
                            <p>
                                <h2><a href="@Url.Action("index","ApiManagement",new { version = 0})"> 接口API </a></h2>
                            </p> <small>Interface  <cite>API</cite></small>
                        </blockquote>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <blockquote>
                            <p>
                                <h2><a onclick="alert('建设中。。。')">文档API  </a></h2>
                            </p> <small>Document  <cite> API</cite></small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <script>
        $(function () {   
            var user_name = "";
            user_name="@ViewBag.user_name";
            if (user_name != null && user_name != "") {
                $("#api_login").hide();
                $("#api_logout").show();
                $("#api_username").text(user_name);
                $("#api_username").show();
                
            }
        });


    </script>
</body>
</html>