﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


textarea {
    width: 580px;
   font-size:16px;
}
input {

}
table {
margin-top:5px;
}
table input {
    padding:0;
max-width:130px !important;
border:1px solid green;
}

th {
font-size:14px;
}
table select {

width:100% !important;
}
table textarea {
    width: 150px;  
}
